html { 
    background-color: lightskyblue;
  }

h1{
  font-family: "Nexa Light";
  text-align: right;
  font-size: 36px;
}

img{
    position: absloute;
    border: 3px solid #73AD21;
    padding: 10px;
}
